<div class="container">
  <h1><center>SCUBA DIVE BUDDIES</center></h1>
  <center><%= link_to "Add new buddies", new_user_path %></center>

  <center>
    <% @users.each do |u| %>
      <%= image_tag u.avatar.url(:thumb) %>
      <h3><%= link_to u.name, user_path(u) %></h3>
      <h4><%= u.email %></h4>
      <hr>
    <% end %>
  </center>
</div>
